body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
}

#main-menu,
#customization-screen,
#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

select, button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}

#grid-customization, #connect4-grid {
  display: grid;
  margin: 20px auto;
  gap: 4px;
}

input[type="text"] {
  width: 100px;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.token.red {
  background-color: red;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

.token.yellow {
  background-color: yellow;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

input[type=\"file\"] {
  width: 60px;
}
